.projects-container {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 6vw 1rem 15vw 1rem;
  z-index: 988;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project img {
  scroll-snap-align: start;
  border-radius: 8px;
  height: 60vw;
  width: calc(60vw * 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px 1px #ababab5c;
}
