.reviews {
  position: absolute;
  bottom: -12vh;
  max-height: 70vw;
  margin: 0 1rem;
  color: var(--black-text);
  background-color: white;
}
.review-tag {
  padding: 1rem;
  max-width: 250px;
  min-width: 25vw;
}

.review-tag-stat {
  display: flex;
  padding-left: 0.2rem;
}
.review-tag-stat div {
  padding: 0.2rem 0.4rem;
}

.review-tag h2 {
  font-size: 1.4rem;
  font-weight: 800;
}
.review p {
  font-size: 1.2rem;
}
