/* MOBILE VERSION MENU 
  360px x 640px
  414px x 896px
*/
.mountify__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
}

.mountify__navbar-links_logo img {
  min-width: 35vw;
  max-width: 18vw;
}

.mountify__navbar-menu svg {
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  max-height: 8vh;
}

.mountify__navbar-menu {
  position: relative;
  display: flex;
}

.mountify__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  position: absolute;
  right: 0;
  top: 25px;
  margin-top: 1rem;
  padding: 3rem 2rem;
  min-width: 160px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}
.mountify__navbar-menu_container p {
  font-size: calc(0.5rem + 2vw);
  font-weight: bold;
  padding: 0.5em;
  color: var(--white-text);
  font-family: var(--font-family);
  line-height: 25px;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}
.mountify__navbar-menu_container button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  color: var(--brand-blue);
  font-family: var(--font-family);
  border: 1px solid var(--brand-blue);
  border-radius: 5px;
  outline: none;
  margin-top: 1rem;
  line-height: 25px;
  background-color: transparent;
  cursor: pointer;
}

/* @media screen and (max-width: 605px) {
} */
