* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

button {
  border: none;
}

a {
  color: unset;
  text-decoration: none;
}

/* WRAPPING UP OFFER + REVIEWS TOGETHER */
.wrapping-up {
  position: relative;
  background-color: transparent;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    168deg,
    rgba(255, 255, 255, 0.57) 0%,
    rgba(233, 224, 187, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    168deg,
    rgba(255, 255, 255, 0.57) 0%,
    rgba(233, 224, 187, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    168deg,
    rgba(255, 255, 255, 0.57) 0%,
    rgba(233, 224, 187, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E0BB', endColorstr='#FFFFFF', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    168deg,
    rgba(255, 255, 255, 0.57) 0%,
    rgba(233, 224, 187, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    168deg,
    rgba(255, 255, 255, 0.57) 0%,
    rgba(233, 224, 187, 1) 100%
  );
  padding-bottom: 40vh;
}

.gradient__bg-secondary {
  /* background: -moz-linear-gradient(
    180deg,
    rgba(78, 78, 78, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    rgba(78, 78, 78, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );

  background: -o-linear-gradient(
    180deg,
    rgba(78, 78, 78, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#4E4E4E', GradientType=1 );

  background: -ms-linear-gradient(
    180deg,
    rgba(78, 78, 78, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );

  background: linear-gradient(
    180deg,
    rgba(78, 78, 78, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background-color: var(--footer-color);
}
.curved-in-box {
  border-top-left-radius: 100px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
