@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --footer-color: #374351;

  --white-text: white;
  --black-text: black;
  --brand-blue: rgb(81, 128, 245, 1);
}
