@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: black;
  --gradient-bar: linear-gradient(103.22deg, #ae67ae -13.86%, #ff8a71);

  --brand-secondary-color: #374351;
  --white-text: white;
}
