.mountify__header {
  display: flex;
  flex-wrap: wrap;
}

.mountify__header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 60vh;
}
.mountify__header-content h1 {
  font-size: 6rem;
  padding-bottom: 1rem;
  width: 1310px;
}
.mountify__header p {
  font-size: 2.4rem;
  padding-bottom: 4rem;
  max-width: 700px;
  min-width: 200px;
}
.mountify__header-content button {
  position: relative;
  flex: 1;
  font-size: 2rem;
  padding: 1.2rem 1.5rem;
  margin-top: 2rem;
  margin-left: 0.6rem;
  background-color: rgb(23, 23, 175);
  border-radius: 4px;
  color: white;
  bottom: 0;
}

.graphic__transition--wrapper {
  height: 60vh;
  flex: 1;
  min-width: 40%;
  background-color: grey;
}

@media screen and (max-width: 800px) {
  .section__padding {
    padding: 1rem;
  }
}
